.background {
  fill: none;
  pointer-events: all;
}

#states {
  stroke: white;
}

#salary-figures td {
  height: 30px;
}

#salary-figures td.header {
  width: 180px;
}

#salary-figures td.figure {
  width: 100px;
}

#hover-row {
  visibility: hidden;
}

#salary-figures {
  right: 0;
}

#content {
  width: 1220px;
  position: relative;
}

#content .content-block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY (-50%);
  -webkit-transform: translateY (-50%);
  -moz-transform: translateY (-50%);
  -o-transform: translateY (-50%);
}

#credit-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX (-50%);
  -webkit-transform: translateX (-50%);
  -moz-transform: translateX (-50%);
  -o-transform: translateX (-50%);
}
