.background {
  fill: none;
  pointer-events: all;
}

#states {
  stroke: white;
}

#salary-figures td {
  height: 30px;
}

#salary-figures td.header {
  width: 180px;
}

#salary-figures td.figure {
  width: 100px;
}

#hover-row {
  visibility: hidden;
}

#salary-figures {
  right: 0;
}

#content {
  width: 1220px;
  position: relative;
}

#content .content-block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
